@{
    Layout = "~/Views/Shared/_UserPage.cshtml";
}

<!--Banner Slide Start-->
<section class="banner-slide">
    <div id="layerslider" style="width: 1024px; height: 502px;">

        <!--Layer 1-->
        <div class="ls-slide" style="transition2d: 8,49,77,100,105; slidedelay: 8000;">

            <!--Slider Background-->
            <img class="ls-bg" src="/Images/Icon/slider1.jpg" tppabs="http://www.zuperstores.com/gridz/images/slider/slider1.jpg" alt="layer1-background" />
            <a href="#" class="ls-link"></a>

        </div>
        <!--End-->
        <!--Layer 2-->
        <div class="ls-slide" style="transition2d: 8,49,77,100,105; slidedelay: 8000;">

            <!--Slider Background-->
            <img class="ls-bg" src="/Images/Icon/slider2.jpg" tppabs="http://www.zuperstores.com/gridz/images/slider/slider2.jpg" alt="layer2-background">
            <a href="#" class="ls-link"></a>
        </div>
        <!--End-->
        <!--Layer 3-->
        <div class="ls-slide" style="transition2d: 8, 49, 77, 100, 105; slidedelay: 8000;">

            <!--Slider Background-->
            <img class="ls-bg" src="/Images/Icon/slider3.jpg" tppabs="http://www.zuperstores.com/gridz/images/slider/slider3.jpg" alt="layer3-background">
            <a href="#" class="ls-link"></a>

        </div>
        <section class="call-action">
            <div class="content">
                <h1>At vero <span class="text-colortwo">eos accusam</span> justo duo dolores...
                </h1>
            </div>
            <a href="#">
                <div class="large-button">
                    <span>GET MORE INFO</span>
                </div>
            </a>
        </section>
        <!--End-->

    </div>
</section>
<!--Banner Slide End-->

<h2>Index</h2>

<p>Hello from our View Template!</p>


